{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style2.css' %}">
</head>
<body>

<div class="header">
    <ul>
        <li><a href="."><img src="{% static 'logo1.png' %}" alt="..." height="60"></a></li>
        {% if user.is_authenticated %}
        <li style = "position:absolute; top:8px; right: 20px"><a href="logout">Logi välja</a></li>
        {% else %}
        <li style = "position:absolute; top:8px; right:20px"><a href="login">Logi sisse</a></li>
        {% endif %}
    </ul>
</div>

    {% block content %}

    {% endblock %}

</body>
</html>