{% include 'base1.html' %}
{% include 'base2.html' %}

{% block content %}

{% load static %}
<html>
<head>
    <title>Preview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/nupp.css' %}">
    <style type="text/css">
        body{
            background: url("/static/home.png");
            background-size: cover;
            height: 100vh;
            background-position: left;
        }
    </style>

</head>
<body>
    <button class="button1" onclick="window.location.href='todo';" style = "position:absolute; top:400px; right: 245px"><a>Todo</a><div class="hoverEffect"><div></div></div></button>
    <button class="button1" onclick="window.location.href='pomodoro';" style = "position:absolute; top:400px; left: 245px"><a>Pomodoro</a><div class="hoverEffect"><div></div></div></button>
     <button class="button2" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ';" style = "position:absolute; bottom:30px; left:100px">
            <span class="title"><a>;)</a></span>
        </button>
</body>
</html>

{% endblock %}
