{% include 'base1.html' %}
{% include 'base2.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="{% static 'style/pomodoro.css' %}" />
  </head>
  <body>
    <main class="app">
      <div class="timer">
        <div class="button-group mode-buttons" id="js-mode-buttons">
          <button
            data-mode="pomodoro"
            class="button active mode-button"
            id="js-pomodoro"
          >
            Pomodoro
          </button>
          <button
            data-mode="shortBreak"
            class="button mode-button"
            id="js-short-break"
          >
            Lühike paus
          </button>
          <button
            data-mode="longBreak"
            class="button mode-button"
            id="js-long-break"
          >
            Pikk paus
          </button>
        </div>
        <div class="clock" id="js-clock">
          <span id="js-minutes">25</span>
          <span class="separator">:</span>
          <span id="js-seconds">00</span>
        </div>
        <button class="main-button" data-action="start" id="js-btn">
          Alusta
        </button>
      </div>
    </main>
    <div class="hidden">
      <audio src="backtowork.mp3" data-sound="pomodoro"></audio>
      <audio src="break.mp3" data-sound="shortBreak"></audio>
      <audio src="break.mp3" data-sound="longBreak"></audio>
    </div>
    <script src="main.js"></script>
  <script>
const timer = {
  pomodoro: 25,
  shortBreak: 5,
  longBreak: 15,
  longBreakInterval: 4,
};

let interval;

const mainButton = document.getElementById('js-btn');
mainButton.addEventListener('click', () => {
  const { action } = mainButton.dataset;
  if (action === 'start') {
    startTimer();
  } else {
    stopTimer();
  }
});

const modeButtons = document.querySelector('#js-mode-buttons');
modeButtons.addEventListener('click', handleMode);

function getRemainingTime(endTime) {
  const currentTime = Date.parse(new Date());
  const difference = endTime - currentTime;

  const total = Number.parseInt(difference / 1000, 10);
  const minutes = Number.parseInt((total / 60) % 60, 10);
  const seconds = Number.parseInt(total % 60, 10);

  return {
    total,
    minutes,
    seconds,
  };
}

function startTimer() {
  let { total } = timer.remainingTime;
  const endTime = Date.parse(new Date()) + total * 1000;

  mainButton.dataset.action = 'stop';
  mainButton.textContent = 'lõpeta';
  mainButton.classList.add('active');

  interval = setInterval(function() {
    timer.remainingTime = getRemainingTime(endTime);
    updateClock();

    total = timer.remainingTime.total;
    if (total <= 0) {
      clearInterval(interval);
    }
  }, 1000);
}

function stopTimer() {
  clearInterval(interval);

  mainButton.dataset.action = 'start';
  mainButton.textContent = 'alusta';
  mainButton.classList.remove('active');
}

function updateClock() {
  const { remainingTime } = timer;
  const minutes = `${remainingTime.minutes}`.padStart(2, '0');
  const seconds = `${remainingTime.seconds}`.padStart(2, '0');

  const min = document.getElementById('js-minutes');
  const sec = document.getElementById('js-seconds');
  min.textContent = minutes;
  sec.textContent = seconds;
}

function switchMode(mode) {
  timer.mode = mode;
  timer.remainingTime = {
    total: timer[mode] * 60,
    minutes: timer[mode],
    seconds: 0,
  };

  document
    .querySelectorAll('button[data-mode]')
    .forEach(e => e.classList.remove('active'));
  document.querySelector(`[data-mode="${mode}"]`).classList.add('active');
  document.body.style.backgroundColor = `var(--${mode})`;

  updateClock();
}

function handleMode(event) {
  const { mode } = event.target.dataset;

  if (!mode) return;

  switchMode(mode);
  stopTimer();
}

document.addEventListener('DOMContentLoaded', () => {
  switchMode('pomodoro');
});
  </script>
  </body>
</html>

{% endblock %}