{% extends "base.html" %}

{% block content %}

{% load static %}
<head>
	<title>Register</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/style1.css' %}">
</head>

{% load crispy_forms_tags %}

<!--Register-->
<div class="wrapper">
  <div class="form">
    <div class="title">
      Registreeri end kasutajaks
    </div>
    <form method="POST" action="/register" onsubmit="register_request();">
        {% csrf_token %}
      <div class="input_wrap">
        <label for="input_text">Kasutajanimi</label>
        <div class="input_field">
          <input type="text" name="username" class="input" id="input_text">
        </div>
      </div>
      <div class="input_wrap">
        <label for="input_password1">Parool</label>
        <div class="input_field">
          <input type="password" name="password1" class="input" id="input_password1">
        </div>
      </div>
		<div class="input_wrap">
        <label for="input_password2">Parooli kinnitus</label>
        <div class="input_field">
          <input type="password" name="password2" class="input" id="input_password2">
        </div>
      </div>
      <div class="input_wrap">
        <span class="error_msg">Incorrect username or password. Please try again</span>
        <input type="submit" id="login_btn" class="btn enabled" value="Loo konto" >
      </div>
      {% if register_form.errors %}
        <div class="text-center">Midagi on valesti ups</div>
      {% endif %}
    </form>
  <div style = "position:relative; top:25px;">
    <p class="text-center">Oled juba kasutaja? <a href="login">Logi sisse</a>.</p>
  </div>
  </div>
</div>

{% endblock %}