{% include 'base1.html' %}
{% include 'base2.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<meta charset="utf-8">
<title>Todo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style/nupp.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/todo.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background-color:#fff7fb; font-family: Raleway, sans-serif">

<div class="container-fluid">

<center class="row">
	<h1></h1>
	<hr />
</center>

<div class="row">

	<div class="col-md-8">

	{% for i in list %}
	<div class="card">
		<center><b>{{i.title}}</b></center>
		<hr/>
		{{i.date|date:"d.m.Y H.i"}}
		<hr/>
		{{i.details}}
		<br />
		<br />
		<form action="/del/{{i.id}}" method="POST" style=" padding-right: 1%; padding-bottom: 1%;">
		{% csrf_token %}
		<button value="remove" type="submit" class="animated-button" style="float: right;"><span class="glyphicon glyphicon-trash"></span> Eemalda</button>
		</form>
	</div>
	{% endfor%}
	</div>
	<div class="col-md-1"> </div>
	<div class="col-md-3" >
	<div class="submit_form">
	<form method="POST">
		{% csrf_token %}
		{{forms}}
		<center>
		<input type="submit" class="animated-button" value="Lisa" />
		</center>
	</form>
	</div>
</div>
</div>
</div>
</body>

</html>

{% endblock %}