@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

.button1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34vw;
  height: 13vw;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5vw;
  transition: all 0.01s;
  text-transform: uppercase;
  color: #933636;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 3vw;
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button1:hover {
  background: rgb(250, 185, 220);
  color: #933636;
  opacity: 0.8;

}

.button1:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222,0,75);
  background: linear-gradient(45deg, rgb(233, 73, 156) 0%, rgb(255, 137, 212) 49%, rgb(251, 28, 114) 100%);
  border-radius: 40rem;
  width: 100rem;
  height: 100rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 7s linear;
  opacity: 0.5;
}

.button1:hover .hoverEffect div {
  width: 40vw;
  height: 40vw;
}

@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**/

.button2 {
  position: relative;
  background-color: #fcd8db;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: none;
}

.button2:active {
  scale: 1.2;
}

.button2:hover {
  width: 180px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0);
}

.button2::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.button2:hover::before {
  opacity: 1;
}

.button2::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #c56e8d;
  filter: blur(15px);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}

.button2:hover::after {
  opacity: 0.5;
}

.button2 svg {
  color: #777;
  width: auto;
  height: 30px;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.button2:hover svg {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.button2 span {
  position: absolute;
}

.button2 .title {
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  font-weight: 600;
}

.button2:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

/**/

.animated-button {
  background-color: #fff;
  border: none;
  color: #c56e8d;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease;
}

.animated-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.animated-button:hover:after {
  width: 210px;
  height: 200px;
  opacity: 1;
}

.animated-button:focus {
  outline: none;
}

.animated-button:active {
  transform: translateY(2px);
  box-shadow: none;
}
